DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=
SINGED_URL_KEY=
APP_URL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@skillcup.club
MAIL_FROM_NAME=SkillCup
MAIL_PORT=1025
MAIL_SERVER=localhost
MAIL_STARTTLS=false
MAIL_SSL_TLS=false